<footer class="footer">
  <div class="footer-bottom pt-77" style="background-color: #292929">
    <div class="container-1180">
      <div class="footer-bottom-wrapper">
        <div class="footer-bottom-primary pb-60">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-9">
              <div class="footer-item has-desc">
                <div class="footer-logo mb-25">
                  <img src="" width="120" height="31" alt="LOGO" />
                </div>
                <div class="footer-desc">
                  <p class="mb-10">
                    Book reliable cleaning services in just a few clicks.
                    Whether it’s your home or office, our trusted professionals
                    ensure a spotless space with hassle-free booking, secure
                    payments, and on-time service—whenever you need it
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
              <div class="row ms-auto flex justify-content-end">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                  <div class="footer-menu">
                    <ul>
                      <li>
                        <a href="" class="title">Quick Links</a>
                      </li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/services">Services</a></li>
                      <li><a href="/userProfile">My Account</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
